@charset "UTF-8";
/* CSS Document */


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

* {
	margin:0;
	padding:0;
	
	}
	
body {
	background-color:black;
	color:#c1b492;
	letter-spacing:8px;
	font-smooth: never;
	-webkit-font-smoothing : none;
	text-align:center;
	-webkit-user-select: none;
	
	}
	
img {
	opacity:0;
	animation: opacity 0.2s ease-in forwards;
	animation-delay:1.6s;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
	}
	
	
#intro {
	font-weight:normal;
	font-size:30px;
	letter-spacing:14px;
	margin-top:30px;
	margin-bottom:-10px;
	}
	
.jp {
	font-size:14px;
	margin-bottom:100px;
	letter-spacing:0px;
	font-smooth: auto;
	-webkit-font-smoothing : auto;
	}
	
.descp {
	margin-top:0px;
	display:inline-block;
	width:450px;
	font-size:10px;
	margin-bottom:10px;
	text-align:left;
	clear:both;
	text-indent:-77px;
	letter-spacing:4px;



	
	}
	
.descp:first-line {
	text-indent:0px;
	}
	
b {
	color:#d2738a;	
	letter-spacing:8px;
	}
	
a {
	margin-bottom:140px;
	font-size:10px;
	
	
	}

hr {
	border-color:#c1b492;
	display:inline-block;
	width:170px;
	border-style:solid;
	box-shadow:none;
	border-bottom:0px;
	}
	
a {
	text-decoration:none;
	transition: color 0.5s ease-out;
	display:inline-block;

	
	}
input {
	color:#c1b492
	}
a:link {
	color:#d2738a;
	}
	
a:visited {
	color:#d2738a;
	}
	
a:hover {
	color:#c1b492;

	}
	
a:active {
	color:#d2738a;
	}
	
.text {	
	background-color:#000000;
	height:18px;
	margin-top:2px;
	padding-bottom:2px;
	text-align:center;
	margin-bottom:8px;
	transition: background-color 0.5s ease-out;
	width:150px;
	letter-spacing:4px;
        border-style: solid;
        border-width: 1px;
        border-color:#000000;
	}
	
.text:hover {
	background-color:black;

	
	}
	
.text:focus {
	background-color:black;
	
	}
	
input {
	border:none;
	}
	
.button {
	color:#dfd5bc;
	background-color:rgba(0,0,0,0.0);
	width:100px;
	cursor:pointer;
	padding-left:12px;
	padding-top:2px;
	padding-bottom:2px;
	letter-spacing:8px;
	transition: color 0.5s ease-out, border-color 0.5s ease-out;
	text-align:center;
	border-radius:20px;
	border-style: solid;
    border-width: 2px;
	border-color:#dfd5bc;
	line-height:16px;
	margin-bottom:100px;
	
	}
	
.button:hover {
	color:#d2738a;
	border-color:#d2738a;


	
	}
	
.darker {
	position:relative;
	width:100%;
	height:100%;
	background-image:url(bg_darker.gif);
	animation: darkestDown 80s linear infinite;
	
	}
	
.dark {
	position:relative;
	width:100%;
	height:100%;
	background-image:url(bg_dark_anim_0_08.gif);
	animation: darkest 60s linear infinite;
	
	}
	
.wiredGang {
	position:relative;
	width:100%;
	height:100%;
	background-image:url(wiredGang_04.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	animation: wiredGangAn 20s linear infinite;
	
	}
	
.opacity  {
	position:relative;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.0);
	animation: opacityBg 0.3s linear forwards;
	animation-delay:1.6s;

	}
	
.opacityContent {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	animation-delay:4s;
	
	}
	
.opacityContent2 {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	animation-delay:4.5s;
	
	}
	
@keyframes darkest {
  from {
	  background-position-y:1024px;
  }
  to {
	   background-position-x:-1024px;
	  }
 }
 
 
@keyframes darkestDown {
  from {
	  background-position-y:-1024px;
  }
  to {
	   background-position-x:1024px;
	  }
 }
 
 
 @keyframes wiredGangAn {
  from {
	  background-position-x:341px;
  }
  to {
	   background-position-x:-341px;
	  }
 }
 
 @keyframes opacity {
  from {
	  opacity:0;
  }
  to {
	  opacity:1;
	  }
 }
 
 @keyframes opacityBg {
  from {
	background-color:rgba(0,0,0,0.0);
  }
  to {
	background-color:rgba(0,0,0,0.6);
	  }
 }
 
 @keyframes opacityBG{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
 